<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZ51WSrbWP2EMQEqG9sk_h-9QSRGkmN14</string>
	<key>GCM_SENDER_ID</key>
	<string>345750761664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Swift-Beginners-app.drillQuiz3948</string>
	<key>PROJECT_ID</key>
	<string>drillquiz-5c5b3</string>
	<key>STORAGE_BUCKET</key>
	<string>drillquiz-5c5b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345750761664:ios:db99cc97367163dd2cfd25</string>
	<key>DATABASE_URL</key>
	<string>https://drillquiz-5c5b3-default-rtdb.firebaseio.com</string>
</dict>
</plist>